/* Task.css */
.task-box {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    background-color: #f0f0f0; 
    border-radius: 30px; 
    /* padding: 20px;  */
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.task-box input[type=checkbox]{
    height: 20px;
    width: 20px;
    accent-color: green;
}

.alter-task{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.detail-button{
    border: none; 
    cursor: pointer; 
    background-color: transparent;
}

.TaskEdit-button{
    border: none; 
    cursor: pointer; 
    background-color: transparent;
}

.delete-button{
    border: none; 
    cursor: pointer; 
    background-color: transparent;
}

.task-title{
    text-align:left;
}


.task-details{
    text-align:left;
    font-size: small;
}



