/* TaskList.css */
.main-container{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 1%;
}

.task-list-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projectTitleDescription{
    text-align: center;
    max-width: 800px;
}

.taskList{
    text-align: center;
}

.back-button {
    padding: 10px 15px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-task-button {
    padding: 10px 15px;
    background-color: #007BFF; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



