body {
    margin: 0;
    padding: 0;
}

.rectangle-box {
    height: 130px; /* Set a fixed height to make the box taller */
    padding: 10px; /* Keep padding to align text closer to edges */
    padding-left: 3%;
    padding-top: 3%;
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    margin: 9px auto; /* Center the box horizontally */
    position: relative; /* Position context for any absolutely positioned children */
    box-sizing: border-box; /* Include padding in the width and height calculation */
}

.title {
    font-size: 25px;
    font-weight: 500;
    color: #000000; /* Changed to black for visibility on white background */
    font-family: "Inter";
    margin: 0; /* No margin to align text at the top */
    padding-bottom: 2%;
 
}

.subtitle {
    font-size: 15px;
    font-weight: normal;
    color: #000000; /* Changed to black for visibility on white background */
    font-family: "Inter";
    margin: 0; /* No margin to align text at the top */
    padding: 0; /* No padding to ensure text stays at the top */
}

