.TaskListContainer {
    padding-left: 3%;
}

.DueTodayContainer {
    max-height: 570px; 
    overflow-y: auto;  
    overflow-x: hidden; 
}

.TaskListTitle {
    font-family: "Inter";
    font-size: 30px; 
    margin-bottom: 5px; 
    font-weight: normal;
    text-align: left;
}
