.MyProjectTitle {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: normal;
}

.ProjectListContainer {
    padding-right: 3%;
}

.DueTodayContainer {
    max-height: 570px; /* Set a fixed height; adjust as needed */
    overflow-y: auto;  /* Enable vertical scrolling if content overflows */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
