/* Main navigation container */
.nav-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background: transparent; 
  position: fixed; 
  top: 0;
  width: 100%; 
  box-sizing: border-box; 
  padding-top: 1.5%;
  padding-right: 4%;
  padding-left: 2.5%;

}

/* Brand on the left side */
.nav-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Navigation links container */
.nav-links {
  display: flex;
  gap: 15px;
  background-color: #2222be; 
  border-radius: 25px; 
  padding: 5px;
  margin: 0 20px; 
}

/* Individual navigation link */
.nav-link {
  padding: 10px 20px;
  border-radius: 25px; 
  cursor: pointer;
  text-align: center;
  transition: background 0.3s, color 0.3s;
  text-decoration: none;
}

/* Active link styling */
.nav-link.active {
  background-color: white;
  color: black;
}

/* Inactive link styling */
.nav-link:not(.active) {
  background-color: #2222be; 
  color: rgb(239, 237, 237);
}

/* Container for icons */
.nav-icons {
  display: flex;
  align-items: center;
}

/* Individual icon styling */
.nav-icon {
  color: white;
  cursor: pointer;
  margin-left: 15px; 
}

/* Bell icon styling */
.bell-icon {
  font-size: 20px;
}

/* Container for the profile dropdown */
.profile-dropdown-container {
  position: relative;
  display: inline-block;
}

/* Style for the profile icon */
.profile-icon {
  font-size: 2em;
  cursor: pointer;
}

.profile-icon:hover {
  color: #007bff; 
}

/* Custom dropdown menu */
.custom-dropdown-menu {
  position: absolute;
  top: 35px;
  right: 0; 
  background-color: #ffffff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  z-index: 1000; 
  width: 150px; 
}

/* Dropdown item styling */
.dropdown-item {
  display: block;
  padding: 12px 16px; 
  font-size: 14px;
  text-align: left; 
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  color: #333; 
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s; 
}

.dropdown-item:hover {
  background-color: #f0f0f0; 
  color: #007bff; 
  border-radius: 8px;
}

/* Dropdown arrow styling */
.custom-dropdown-menu::before {
  content: '';
  position: absolute;
  top: -8px; 
  right: 10px; 
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent; 
}
