.OverviewContainer {
    padding-left: 3%;
}

.OverviewContentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto 1fr; 
    grid-template-areas:
        "item1 item2"
        "item3 item3";
    gap: 20px; 
    max-height: 600px; 
    overflow: hidden; 
    padding-top: 2.5%;
    padding-right: 3%;
}

.OverviewTitle {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: normal;
}

.OverviewItem {
    border-radius: 8px;
    color: #000; 
}

.item1 {
    grid-area: item1; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e0ec5c;
    padding: 20px; 
    height: 200px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    font-family: "Inter", sans-serif;
}

.item2 {
    grid-area: item2; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    font-family: "Inter", sans-serif;
    align-self: start; 
    margin-top: 20px; 
    padding: 20px;
    height: 180px; 
}

.item3 {
    grid-area: item3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #b787f1;
    padding: 20px;
    color: #000; 
    font-family: "Inter", sans-serif;
    overflow-y: auto;  
    overflow-x: hidden; 
    min-height: 280px; 
}

.Dailywork-progress-text {
    font-weight: 550; 
    font-size: 14px; 
    margin: 0; 
    text-align: center; 
    position: absolute; 
    top: 10px; 
    width: 100%; 
    left: 0;
    font-family: "Inter", sans-serif;
}

.Notes-title {
    font-weight: 550; 
    font-size: 20px; 
    margin: 0; 
    text-align: left; 
    font-family: "Inter", sans-serif;
}

.headingTitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.CompletedProjectsTitle {
    font-weight: 450; 
    font-size: 18px;
    margin: 0; 
    text-align: left; 
    top: 10px; 
    width: 100%; 
    left: 0;
    font-family: "Inter", sans-serif;
}





