
.dashboard-page {
    background-color: white;
  }
  
.dashboard-content {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    width: 100%; 
    max-width: none; 
  }
  
.TaskListItem {
    padding: 10px; 
    padding-left: 6%;
    padding-right: 0%;
  }

.OverviewItem {
    padding: 10px; 

  }


  