@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

.hero-section {
    background-color: #2828e8; 
    padding-top: 5%; 
    padding-bottom: 4%;
    
}  
  
.hero-text {
    text-align: center;
    font-family: "Inter";
}

.hero-title {
    font-size: 45px; 
    font-weight: bold; 
    color: #ffffff; 
    font-family: "Inter";
    margin: 0; 
}

.hero-subtitle {
    font-size: 25px; 
    font-weight: 500; 
    color: #ffffff; 
    font-family: "Inter";
    margin: 0; 
    padding-bottom: 0px;
}