@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

.hero-section {
    background-color: #5831EE; 
    padding-top: 5%; 
    padding-bottom: 4%;
}  
  
.hero-text {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
}

.hero-title {
    font-size: 60px; 
    font-weight: 550; 
    color: #ffffff; 
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0; 
}

.hero-subtitle {
    font-size: 30px; 
    color: #ffffff; 
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0; 
    padding-bottom: 0px;
}